<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <p>{{machine.number_machine}}</p>
        <p>{{machine.technique_model}}</p>
        <p>{{machine.engine_model}}</p>
        <p>{{machine.engine_number}}</p>
        <p>{{machine.transmission_model}}</p>
        <p>{{machine.transmission_number}}</p>
        <p>{{machine.drive_axle_model}}</p>
        <p>{{machine.drive_axle_number}}</p>
        <p>{{machine.steering_bridge_model}}</p>
        <p>{{machine.steering_bridge_number}}</p>
        {% if is_aut %}
        <p>{{machine.supply_contract}}</p>
        <p>{{machine.shipping_date}}</p>
        <p>{{machine.consignee}}</p>
        <p>{{machine.delivery_address}}</p>
        <p>{{machine.equipment}}</p>
        <p>{{machine.client}}</p>
        <p>{{machine.service_company}}</p>
        {% endif %}
</body>
</html>