<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <img src="/static/img/Fon_1x.png" width="40" height="60" alt="logo">
                <p class="navbar-brand" >+7-8352-20-12-09, telegram</p>
                <p class="navbar-brand" >Электронная сервисная книжка "Мой Силант"</p>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Вход</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">

                <div class="col-lg-8">
                    <h1 class="font-weight-light">Проверьте комплектацию и технические характеристики техники Силант</h1>
                    <p>Проверьте комплектацию и технические характеристики техники Силант</p>
                    <form action="{% url 'search' %}">
                      <input type="search" placeholder="Search" aria-label="Search" name="search">
                      <input class="btn btn-primary" type="submit" value="Найти">
                    </form>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body">
                    {% for m in machine %}
                    <p class="text-white m-0">{{m.number_machine}}</p>
                    <p class="text-white m-0">{{m.technique_model}}</p>
                    <p class="text-white m-0">{{m.engine_model}}</p>
                    <p class="text-white m-0">{{m.engine_number}}</p>
                    <p class="text-white m-0">{{m.transmission_model}}</p>
                    <p class="text-white m-0">{{m.transmission_number}}</p>
                    <p class="text-white m-0">{{m.drive_axle_model}}</p>
                    <p class="text-white m-0">{{m.drive_axle_number}}</p>
                    <p class="text-white m-0">{{m.steering_bridge_model}}</p>
                    <p class="text-white m-0">{{m.steering_bridge_number}}</p>
                    {% endfor %}
                </div>
            </div>
            <!-- Content Row-->
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">+7-8352-20-12-09, telegram Мой Силант 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
